$font-titles-sansserif: 'Montserrat Alternates',
sans-serif;
$font-titles-serif: 'Playfair Display',
serif;
$font-text: 'Montserrat',
sans-serif;

h1,
h2,
h3,
h6 {
    font-family: $font-titles-sansserif;
    font-weight: 900;
}

h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 2rem;
}

h6 {
    font-size: 0.8rem;
}

p{
    font-family: $font-text;
    font-weight: 400;
    font-size: 0.8rem;
}

.btn.btn-primary {
    font-family: $font-text;
    font-weight: 700;
}