@import '../styles/main.scss';

li {
    .city-weather {
        background-color: white;
        border-radius: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: $blue;
        position: relative;
        margin-bottom: 30px;

        .delete-btn {
            width: 46px;
            height: 46px;
            position: absolute;
            top: -12px;
            right: -12px;
            background-color: $blue;
            border: 0;
            border-radius: 100%;
            padding: 0;
            transform: perspective(1px) translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            transition-duration: 0.3s;
            transition-property: box-shadow, transform, background-color;

            &:before {
                content: '';
                position: absolute;
                top: 10px;
                right: 8px;
                width: 30px;
                height: 30px;
                background-image: url("../img/delete-weather.svg");
                background-repeat: no-repeat;
            }

            &:hover {
                background-color: $blue-hover;
                box-shadow: 10px 10px 39px -20px rgba(0, 0, 0, 0.75);
                transform: scale(1.2);
            }
        }

        span {
            color: white;
        }

        p {
            font-size: 0.9rem;
        }
    }
}