@import '../styles/main.scss';

ul.forecast-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: 0 -5px;
    justify-content: center;

    li {
        border: 1px solid black;
        border-radius: 30px;
        padding: 10px 5px;
        margin: 0 5px 20px 5px;
        text-align: center;

        img {
            width: 60%;
        }

        span {
            color: $grey;
        }
    }
}