@import '../styles/main.scss';

.my-local-weather {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    margin: 20px 0;
    padding: 20px 10px 0 10px;
}