@import '../styles/main.scss';

.my-local-weather.row {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    margin-top:20px;
    margin-bottom: 20px;
    margin-right: 0;
    margin-left: 0;
    padding: 20px 10px 0 10px;
}